.features {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    //text-align: center;
    @media screen and (min-width: 1200px) {
      padding-bottom: 47px;
      padding-top: 47px;
    }
  }
  .feature__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 10px;
    text-align: center;
    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }
  
  .feature__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    //text-align-last: left;
    color: var(--secondary-text-color);
    
  }
  
  .feature__list {
    margin-left: -30px;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin-left: -30px;
 }
  }
  .feature__item {
    margin-bottom: 30px;
    display: block;
    justify-content: center;
    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - 30px);
      margin-left: 30px;
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 4 - 30px);
      
    }
  }
  
  .feature__iconbg {
    width: 100%;
    height: 120px;
    background-color: var(--grey-bg-color);
    margin-bottom: 30px;
    border-radius: 4px;
      display: flex;
    align-items: center;
    justify-content: center;
  }