.features {
    width: 1170;
    padding-bottom: 47px;
  }
  .feature__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 10px;
  }
  
  .feature__text {
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
  }
  
  .feature__list {
    display: flex;
    margin-left: -30px;
  }
  .feature__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    display: block;
  }
  
  .feature__iconbg {
    width: 270px;
    height: 120px;
    background-color: var(--grey-bg-color);
    margin-bottom: 30px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }