.menu-open-btn, .menu-close-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    border: none;
    background-color: transparent;
    cursor: pointer;
    @media screen and (min-width: 768px){
        display: none;
    }
}
.menu-open-btn:hover,
.menu-open-btn:focus,
.menu-close-btn:hover,
.menu-close-btn:focus,
 {
    fill: var(--accent-color);
}
.menu-open-icon {

}
.menu-close-btn{
    position: absolute;
    right: 16px;
    top: -37px;
    //background-color: red;
}
.mob-menu {
    position: absolute;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    top: 0;
    padding-top: 48px;
    padding-bottom: 48px;
    .container{
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
       
    }
    &.is-hidden{
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    
}
.mob-menu-bottom{
    margin-top: auto;
}
.mob-menu-item{
    &:not(:last-child){
        margin-bottom: 32px;
    }
    .mob-menu-link{
        font-weight: 500;
        font-size: 40px;
        line-height: calc(47 / 40);
        letter-spacing: 0.02em;
        color: #212121;
        text-decoration: none;
    }
}
.mob-contacts-lis{
        margin-bottom: 64px;

}
.mob-contacts-item{
    &:not(:last-child){
        margin-bottom: 32px;
    }
    .mob-contacts-link{
        font-weight: 500;
        font-size: 24px;
        line-height: calc(28 / 24);
        letter-spacing: 0.02em;
        color: #757575; 
        text-decoration: none;
    }
    &:first-child .mob-contacts-link {
        font-size: 34px;
    }
}
.mob-social-list{
    display: flex;
    padding-top: 64px;
}
.mob-social-item{
    &:not(:last-child){
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
}
.mob-social-link{
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;
    color: #2196F3;
    text-decoration: none;
}

