.work {
    padding-top: 47px;
  }
  .work__title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .work__list {
    display: flex;
    margin-left: -30px;
  }
  .work__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    position: relative;
  }
  .work__subtitle {
    position: absolute;
    left: 0;
    bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;
    display: flex;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    align-items: center;
    justify-content: center;
  }