.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: 0;
        .modal {
          transform: scale(1.5) rotate(360deg);
        }
      }
  }
 