:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196f3;
    --primary-bg-color: #e5e5e5;
    --secondary-bg-color: #2f303a;
    --grey-bg-color: #f5f4fa;
    --color-title: #ffffff;
    --color-btn: #2196f3;
  }